* {
	background-color: #ccc;
}
.topnav a {
    float: left;
    color: #0f406b;
    background-color: #b0f3ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 17%;
    border: solid, 1px, gray;
}

.topnav a.active {
    background-color: #00A7C8;
    color: white;
}

.container {
    clear: both;
    

}

h1 {
	text-align: center;
}

.banner {
	text-align: center;
	background-color: green;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

li, label {
	font-size: 1.5em;
	font-weight: strong;
}

.float_button {
	float: left;
	margin: 20px;
	width: 45%;
}

input {
	background-color: white;
}

button {
	background-color: white;
}

input.big {
	font-size: 1.5em;
	z-index: 1;
	background-color: white;
}

