<h1>Edit Your Goal</h1>
<form action="/reading_goals/<%=@goal.id%>/edit" method="POST">
	<input type="hidden" name="_method" value="patch">
	<label>Your Reading Goal:</label>
	<input type="text" name="content" value="<%=@goal.content%>">
	<input type="submit" value="Update Goal">
</form>	