<h1>Create A New Reading Goal</h1>

<form action="/reading_goals/" method="POST">
	<label>Your New Reading Goal: </label>
	<input type="text" name="content">
	<input type="submit" value="Create Goal">
</form>

Example goals:
<ul>
	<li>Read two new books this month</li>
	<li>Start a book by a new author this week</li>
	<li>Read at least 100 pages this month</li>
</ul>	