<h2>Add a New Book to Your Library</h2>

<form action="/books" method="POST">
	<label for="title">Book Title: </label>
	<input id="title" type="text" name="book[title]">
	<br></br>
    <label>Choose an existing author:</label>
    <br>
    <% @authors.each do |author| %>
    <input type="radio" name="book[author_id]" value="<%=author.id%>" id="<%=author.id%>">
    <label><%=author.name%>    </label>
    <% end %>
    <br></br>
    <h3>Or, add a new author:</h3>
    <br>
    <label for="author_name">Author Name: </label>
    <input id="author_name" type="text" name="author[name]">
    <br></br>
    <input type="submit" name="Add Book">
</form>