<!doctype html>
<html>
  <head>
    <title>The Reading List</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
  	<div class="banner"><h1>The Reading List</h1></div>
  	<% if logged_in? %>
	  	<div class="topnav">
	  		<a class="active" href="/users/:id">Home</a>
	  		<a href="/reading_list">Social Reading List</a>
	  		<a href="/books">Book Index</a>
	  		<a href="/authors">Author Index</a>
	  		<a href="/logout">Log Out</a>
		</div>
	<% end %>	

    <div class="container">
      <br></br>
      <%= yield %>
    </div>
    

  </body>
</html>