Here's what folks are reading!
<br></br>
<% User.all.each do |user| %>
  <h4><%=user.username%>'s Reading List:</h4>
  <ol>
  <% user.books.each do |book| %>
    <li><%=book.title%> by <%=book.author%></li> 
  <% end %>  
  </ol>
<% end %>
<br></br>
<a href="/users/:id">Return to Your Homepage</a> 